# IntelliJ IDEA
*.iml

# Gradle files
.gradle

# Local configuration file
/local.properties

# User-specific configurations
/.idea/

# Android Studio
/captures

.DS_Store
/build/
.externalNativeBuild
